.your-customers-module .row-fluid.row-reverse .span7 {
    margin-left: 0;
}
.your-customers-content {
    padding-left: 45px;
    padding-right: 50px;
}
.your-customers-contentspan5 {
    padding-left: 30px;
    padding-right: 55px;
}
.your-customers-module p {
    color: #fff;
    font-family:
        Source Sans Pro,
        "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 25.6px;
    margin-bottom: 20px;
}
.your-customers-module li {
    color: #fff;
    font-family:
        Source Sans Pro,
        "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 25.6px;
    margin-bottom: 20px;
}
.your-customers-module p:last-child {
    margin-bottom: 0;
}
.your-customers-module p span {
    color: #ff0000;
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 30.2px;
}
.your-customers-module.white-theme h2,
.your-customers-module.white-theme h4,
.your-customers-module.white-theme p,
.your-customers-module.white-theme li,
.your-customers-module.grey-theme h2,
.your-customers-module.grey-theme h4,
.your-customers-module.grey-theme p,
.your-customers-module.grey-theme li {
    color: #000;
}
@media (max-width: 1024px) {
    .your-customers-module {
        padding: 119px 25px;
    }
    .your-customers-module h2 {
        font-size: 30px;
        line-height: 37.5px;
    }
    .your-customers-module h4 {
        font-size: 24px;
        line-height: 30px;
    }
    .your-customers-module p span {
        font-size: 22px;
        line-height: 27.7px;
    }
    .your-customers-content,
    .your-customers-contentspan5 {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 767px) {
    .your-customers-module {
        padding: 85px 15px;
    }
    .your-customers-module p {
        font-size: 18px;
    }
    .your-customers-module p span {
        font-size: 22px;
    }
    .your-customers-module h2 {
        margin-bottom: 43px;
    }
    .your-customers-module .row-fluid.row-reverse .span5 {
        margin-left: 0;
    }
}
@media (max-width: 640px) {
    .your-customers-module h2 {
        font-size: 25px;
        line-height: 31.3px;
    }
    .your-customers-module li {
        color: #fff;
        font-size: 17px;
        line-height: 25px;
    }
    .your-customers-module h4 {
        font-size: 20px;
        line-height: 25px;
    }
    .your-customers-module p {
        font-size: 17px;
        line-height: 25px;
    }
    .your-customers-module p span {
        font-size: 20px;
        line-height: 25.1px;
    }
}
.join-our-journey {
    background: #ff0000;
    padding: 130px 0;
}
.join-our-journey .flex-center {
    align-items: center;
    display: flex;
}
.join-our-journey h2 {
    color: #000;
    font-family: Vastago Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 50px;
}
.join-our-journey .black-btn {
    background: #2c2a29;
    border: 3px solid #2c2a29;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-family:
        Source Sans Pro,
        "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 23px;
    margin-left: auto;
    max-width: 350px;
    padding: 12px 20px;
    text-align: center;
    text-transform: uppercase;
}
.join-our-journey .black-btn:hover {
    background: #d1d3d4;
    border: 3px solid #d1d3d4;
    color: #000;
}
.join-our-journey .black-btn:focus {
    background: #a7a9ac;
    border: 3px solid #a7a9ac;
    color: #000;
}
@media (max-width: 1024px) {
    .join-our-journey {
        padding: 129px 25px;
    }
    .join-our-journey h2 {
        font-size: 30px;
        line-height: 37px;
        padding-right: 54px;
    }
}
@media (max-width: 767px) {
    .join-our-journey {
        padding: 55px 15px;
    }
    .join-our-journey .flex-center {
        display: block;
    }
    .join-our-journey h2 {
        margin-bottom: 39px;
        padding-right: 0;
    }
    .join-our-journey .black-btn {
        margin: 0 auto;
        max-width: 100%;
    }
}
@media (max-width: 640px) {
    .join-our-journey .black-btn {
        font-size: 16px;
    }
}
.consider-five-col {
    background-color: #000;
    padding: 85px 15px;
}
.white-theme {
    background-color: #ffffff;
    padding: 85px 15px;
}
.grey-theme {
    background-color: #ededee;
    padding: 85px 15px;
}
.consider-five-wrap {
    display: flex;
    flex-wrap: wrap;
}
.consider-five-col .row-fluid .span3 {
    margin-left: 45px;
    width: calc(25% - 34px);
}
.consider-five-col .row-fluid .span3.span3width:nth-child(4n + 1) {
    margin-left: 0;
}
.consider-five-col .row-fluid .span5width {
    margin-left: 45px;
    width: calc(20% - 36px);
}
.five-column-module {
    align-items: center;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    margin-bottom: 35px;
    margin-top: 30px;
    min-height: 89px;
}
.consider-five-col h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 27px;
}
.consider-five-col.white-theme h2,
.consider-five-col.white-theme h4,
.consider-five-col.grey-theme h2,
.consider-five-col.grey-theme h4 {
    color: #30655e;
    font-family: Vastago Grotesk;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
}
.consider-five-col h2,
.consider-five-col h4 {
    color: #fff;
    font-family: Vastago Grotesk;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
}
.consider-five-col h4 {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 0;
}
.consider-five-col p {
    color: #fff;
    font-family:
        Source Sans Pro,
        "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 25.6px;
    margin-bottom: 20px;
}
.consider-five-col.white-theme p,
.consider-five-col.grey-theme p {
    color: #30655e;
    font-family:
        Source Sans Pro,
        "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 25.6px;
    margin-bottom: 20px;
}
.considere-link-group {
    margin-top: 42px;
}
@media (max-width: 1024px) {
    .consider-five-col {
        padding: 77px 25px 90px;
    }
    .consider-five-col .flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .five-column-module {
        min-height: 102px;
    }
    .consider-five-col .row-fluid .span3 {
        margin-left: 0;
        padding-right: 0;
        width: calc(50% - 25px);
    }
    .consider-five-col .row-fluid .span3:nth-child(odd) {
        margin-left: 0;
    }
    .consider-five-col .row-fluid .span3:nth-child(2n) {
        margin-left: 50px;
    }
    .five-column-module {
        background-position: 78%;
    }
    .consider-five-col h2 {
        font-size: 30px;
        line-height: 37px;
    }
    .consider-five-col h4 {
        font-size: 24px;
        line-height: 30px;
        padding-top: 35px;
    }
    .five-column-module {
        margin-bottom: 17px;
    }
}
@media (max-width: 840px) {
    .consider-five-col .row-fluid .span3:nth-child(odd) {
        padding-right: 0;
    }
}
@media (max-width: 767px) {
    .consider-five-col {
        padding: 85px 15px;
    }
    .consider-five-col .flex-wrap {
        display: block;
    }
    .consider-five-col .row-fluid .span3:nth-child(2n) {
        margin-left: 0;
    }
    .consider-five-col .row-fluid .span3 {
        width: 100%;
    }
    .five-column-module {
        margin-bottom: 15px;
    }
}
@media (max-width: 640px) {
    .consider-five-col h2 {
        font-size: 25px;
        line-height: 31px;
    }
    .consider-five-col h4 {
        font-size: 20px;
        line-height: 25px;
    }
    .consider-five-col p {
        font-size: 17px;
        line-height: 25px;
    }
    .five-column-module {
        background-position: 84%;
    }
}
.socialFooterIcon {
    padding: 49px 0 86px;
}
.socialFooterIcon ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.socialFooterIcon ul li svg {
    fill: #ebf900;
}
.socialFooterIcon ul li svg path:hover,
.socialFooterIcon ul li svg:hover {
    fill: #d1d3d4;
}
.socialFooterIcon ul li svg path:focus,
.socialFooterIcon ul li svg:focus {
    fill: #a7a9ac;
    outline: none;
}
.socialFooterIcon ul li {
    display: inline-block;
    margin-right: 20px;
}
.socialFooterIcon ul li a {
    display: inline-block;
}
.our-purpose-module {
    background-image: url(../20820901/Assets_2021/purpose-bg.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
}
.our-purpose-module h2 {
    font-family: Vastago Grotesk;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    padding-right: 100px;
}
.our-purpose-module h2,
.our-purpose-module h5 {
    color: #000;
    font-style: normal;
    letter-spacing: -0.02em;
}
.our-purpose-module h5 {
    font-family:
        Source Sans Pro,
        "sans-serif";
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 80px;
    padding-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}
.our-purpose-module h5:before {
    background-image: url('../rowbtm1.png');
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    height: 17px;
    position: absolute;
    width: 129px;
}
.our-purpose-module p {
    color: #000;
    font-family:
        Source Sans Pro,
        "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 25.6px;
    margin-bottom: 25px;
}
.purpose-heading-mbl {
    display: none;
}
@media (max-width: 1200px) {
    .our-purpose-module {
        background-position: 0 0;
    }
}
@media (max-width: 1024px) {
    .our-purpose-module {
        padding: 80px 25px;
    }
    .our-purpose-module h2 {
        font-size: 30px;
        line-height: 37.5px;
    }
    .our-purpose-module h5 {
        font-size: 20px;
        line-height: 24px;
    }
    .purpose-heading {
        display: none;
    }
    .purpose-heading-mbl {
        display: block;
    }
    .our-purpose-module {
        background-position: -500px top;
    }
}
@media (max-width: 767px) {
    .our-purpose-module {
        padding: 67px 15px;
    }
    .our-purpose-module h2 {
        margin-bottom: 39px;
    }
    .our-purpose-module h5 {
        margin-bottom: 33px;
    }
}
@media (max-width: 640px) {
    .our-purpose-module h2 {
        font-size: 25px;
        line-height: 31.3px;
        padding: 0;
    }
    .our-purpose-module h5 {
        font-size: 18px;
        line-height: 23px;
    }
    .our-purpose-module p {
        font-size: 17px;
        line-height: 25px;
    }
}
.accordion {
    margin-bottom: 20px;
}
.accordion_group {
    background: #f0f0f0;
    border: 1px solid #ddd;
    margin-bottom: 2px;
    padding: 5px 10px;
}
.accordion_group,
.quote-box {
    border-radius: 4px;
}
.leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-form h4,
.leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview h4 {
    color: #000;
    font-family: Vastago Grotesk;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 35px;
}
.leadinModal.leadinModal-v3 .thank-you-message * {
    color: #000;
    font-family: Vastago Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 30.2px;
}
.leadinModal .leadin-close-button {
    color: #000 !important;
    font-family:
        Source Sans Pro,
        "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 23px;
    text-decoration-line: underline;
    text-transform: uppercase;
}
.leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-form p,
.leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview p {
    color: #000;
    font-family:
        Source Sans Pro,
        "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 25.6px;
    margin-bottom: 20px;
}
.leadinModal.leadinModal-theme-default.leadinModal-v3 .leadin-content-body,
.leadinModal.leadinModal-theme-default.leadinModal-v3 .leadin-content-body .leadin-preview-wrapper {
    background: #ff0000;
}
.leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview .leadin-button,
.leadinModal.leadinModal-v3 .leadin-button {
    background: #2c2a29 !important;
    border: 3px solid #2c2a29 !important;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff !important;
    display: block;
    font-family:
        Source Sans Pro,
        "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 25.6px;
    margin: 0 0 0 auto;
    padding: 10px 49px;
    text-align: center;
    text-transform: uppercase;
}
.leadinModal-3461605 .leadin-button-primary input[type="submit"]:hover,
.leadinModal-3461605 .leadin-button-primary:hover,
.leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview .leadin-button input[type="submit"]:hover,
.leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview .leadin-button:hover,
.leadinModal.leadinModal-v3 .leadin-button input[type="submit"]:hover,
.leadinModal.leadinModal-v3 .leadin-button:hover {
    background: #d1d3d4 !important;
    border: 3px solid #d1d3d4 !important;
    color: #000 !important;
}
.leadinModal.leadinModal-v3 .back-button {
    background: #2c2a29 !important;
    border: 3px solid #2c2a29 !important;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff !important;
    display: block;
    font-family:
        Source Sans Pro,
        "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 25.6px;
    margin: 0 0 0 auto;
    padding: 12px 5px !important;
    text-align: center;
    text-transform: uppercase;
}
.leadinModal .leadin-input-wrapper .error-text {
    color: #f2545b !important;
    font-family:
        Source Sans Pro,
        sans-serif;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 25.6px;
    margin-bottom: 5px;
}
.leadinModal .leadin-input-wrapper label input[type="email"] {
    background: #fff;
    border: #fff;
    border-radius: 6px;
    box-shadow: none;
    color: #2c2a29;
    font-family:
        Source Sans Pro,
        "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 50px;
    letter-spacing: -0.02em;
    line-height: 25.6px;
    margin-bottom: 20px;
    padding: 12px 19px;
}
.leadinModal .leadinModal-content input[type="checkbox"] {
    background: #fff;
    border: 1px solid #2c2a29;
    content: "";
    display: inline-block;
    height: 23px;
    margin-right: 15px;
    vertical-align: text-top;
    width: 23px;
}
.leadinModal .gdpr-options .gdpr-checkbox .gdpr-label p {
    color: #2c2a29;
    font-family:
        Source Sans Pro,
        sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 25.6px;
    position: relative;
    top: 3px;
}
@media (max-width: 1024px) {
    .leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-form h4,
    .leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview h4 {
        font-size: 24px;
        line-height: 30px;
    }
    .leadinModal.leadinModal-v3 .thank-you-message * {
        font-size: 20px;
        line-height: 25.1px;
    }
}
@media (max-width: 640px) {
    .leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-form h4,
    .leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview h4 {
        font-size: 20px;
        line-height: 25px;
    }
    .leadinModal.leadinModal-v3 .thank-you-message * {
        font-size: 18px;
        line-height: 22.6px;
    }
    .leadinModal .gdpr-options .gdpr-checkbox .gdpr-label p,
    .leadinModal .leadin-close-button,
    .leadinModal .leadin-input-wrapper .error-text,
    .leadinModal .leadin-input-wrapper label input[type="email"],
    .leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-form p,
    .leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview .leadin-button,
    .leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview p,
    .leadinModal.leadinModal-v3 .back-button,
    .leadinModal.leadinModal-v3 .leadin-button {
        font-size: 17px;
        line-height: 25px;
    }
}
.title-background {
    background: #f5f5f5;
}
.title-background h1,
.title-background h2 {
    margin-bottom: 0;
}
.footer-wrapper .page-center {
    max-width: 1100px;
}
.footer-wrapper {
    background-color: #000;
    background-image: url(https://www.tortoiseandhare.com.au/hubfs/20820901/Assets_2021/Footer%20SVG%20932%20x%20567.svg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    padding: 70px 0 124px;
}
.footer-col-2 img {
    margin-bottom: 50px;
}
.footer-col-2 p {
    color: #fff;
    font-family:
        Source Sans Pro,
        sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 30px;
}
body .footer-subscribe-form input[type="submit"],
body .footer-subscribe-form input[type="submit"]:hover {
    background: #ebf900;
    border: 3px solid #ebf900;
    border-radius: 6px;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    font-family:
        Source Sans Pro,
        sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 23px;
    padding: 12px 59px;
    text-transform: uppercase;
}
body .footer-subscribe-form input[type="submit"]:hover {
    background: #d1d3d4;
    border: 3px solid #d1d3d4;
    color: #000;
}
body .footer-subscribe-form input[type="submit"]:focus {
    background: #a7a9ac;
    border: 3px solid #a7a9ac;
    color: #000;
}
body .footer-subscribe-form input[type="email"] {
    background: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #2c2a29;
    font-family:
        Source Sans Pro,
        sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 53px;
    letter-spacing: -0.02em;
    line-height: 23px;
    max-width: 297px;
    padding: 10px 14px;
}
body .footer-subscribe-form .actions {
    position: absolute;
    right: 0;
    top: 0;
}
.footer-subscribe-form .legal-consent-container .hs-form-booleancheckbox-display p {
    color: #fff;
    font-family:
        Source Sans Pro,
        sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 23px;
    position: relative;
    top: 2px;
}
.legal-consent-container ~ .hs_recaptcha {
    position: relative;
}
.footer-subscribe-form .legal-consent-container .hs-form-booleancheckbox-display p a {
    color: #fff;
    text-decoration: underline;
}
.footer-subscribe-form .legal-consent-container .hs-form-booleancheckbox-display span {
    color: #fff;
}
.customer-relationships .legal-consent-container .hs-form-booleancheckbox-display p a,
.on-track-form .legal-consent-container .hs-form-booleancheckbox-display p a {
    color: #2c2a29;
    text-decoration: underline;
}
.customer-relationships .legal-consent-container .hs-form-booleancheckbox-display span,
.on-track-form .legal-consent-container .hs-form-booleancheckbox-display span {
    color: #2c2a29;
}
.footer-subscribe-form .legal-consent-container label {
    display: flex;
}
.footer-subscribe-form .legal-consent-container .hs-form-booleancheckbox-display input {
    opacity: 0;
    position: absolute;
}
.footer-subscribe-form .legal-consent-container .hs-form-booleancheckbox-display input + span {
    cursor: pointer;
    margin-left: 0;
    padding: 0;
    position: relative;
}
.footer-subscribe-form .legal-consent-container .hs-form-booleancheckbox-display input + span:before {
    background: #fff;
    content: "";
    display: inline-block;
    height: 23px;
    margin-right: 15px;
    vertical-align: text-top;
    width: 23px;
}
.hs_recaptcha.hs-recaptcha.field.hs-form-field {
    display: none;
    position: relative;
}
.footer-subscribe-form .legal-consent-container .hs-form-booleancheckbox-display input:hover + span:before {
    background: #ebf900;
}
.footer-subscribe-form .legal-consent-container .hs-form-booleancheckbox-display input:focus + span:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.footer-subscribe-form .legal-consent-container .hs-form-booleancheckbox-display input:checked + span:before {
    background: #ebf900;
}
.footer-subscribe-form .legal-consent-container .hs-form-booleancheckbox-display input:checked + span:after {
    background: #000;
    box-shadow:
        2px 0 0 #000,
        4px 0 0 #000,
        4px -2px 0 #000,
        4px -4px 0 #000,
        4px -6px 0 #000,
        4px -8px 0 #000;
    content: "";
    height: 2px;
    left: 6px;
    position: absolute;
    top: 13px;
    transform: rotate(45deg);
    width: 2px;
}
.footer-subscribe-form form {
    position: relative;
}
.footer-logo {
    margin-bottom: 80px;
}
.footer-menu-form {
    max-width: 533px;
}
.footer-subscribe-form h3 {
    color: #fff;
    font-family:
        Source Sans Pro,
        sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 30px;
}
.footer-menu-main ul li {
    margin-bottom: 8px;
    margin-right: 44px;
}
.footer-menu-main ul li:last-child {
    margin-right: 0;
}
.footer-copyright-text {
    margin-top: 35px;
}
.footer-copyright-text span {
    color: #fff;
    display: block;
    font-family:
        Source Sans Pro,
        sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 25.6px;
    text-align: left;
}
.footer-menu-main {
    margin-bottom: 40px;
}
.footer-menu-main ul li a {
    color: #fff;
    font-family:
        Source Sans Pro,
        sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 18px;
}
.subscribe-form {
    background: #f5f5f5;
}
.subscribe-form.page-center label {
    display: block;
    margin-bottom: 0;
    min-height: 24px;
}
.subscribe-form .widget-type-blog_subscribe input[type="email"] {
    height: 38px;
    margin: 0;
    max-width: none;
    width: 100%;
}
.subscribe-form .hs_email {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
    width: 300px;
}
.subscribe-form .hs_submit {
    display: inline-block;
    margin-top: 25px;
}
.subscribe-form .hs-button.primary {
    border: 2px solid #34495e;
    margin: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.subscribe-form .hs-button.primary:hover {
    background: #34495e;
    border: 2px solid #34495e;
    color: #fff;
}
.subscribe-form .hs-error-msgs {
    margin: 40px 0 0;
    position: absolute;
}
.team-member-headshot img {
    border-color: #34495e;
}
.team-member-social a {
    color: #34495e;
}
.hs-author-social-links a.hs-author-social-link:hover,
.team-member-social a:hover {
    color: #ccc;
}
.team-member-title {
    color: #34495e;
}
.pricing-table h3.heading {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    background: #34495e;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}
.pricing-table .label {
    background: #02172c;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
    padding: 5px 10px;
    right: 15px;
    vertical-align: middle;
}
.pricing-table .content {
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    background: #f5f5f5;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 30px;
    text-align: center;
}
.pricing-table .content ul {
    list-style: none;
    padding-left: 0;
}
.pricing-table .content ul li {
    padding: 10px 0;
}
.pricing-table .number {
    font-size: 60px;
    font-weight: 700;
}
.pricing-table .currency {
    font-size: 24px;
    position: relative;
    top: -25px;
}
.pricing-table .unit {
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
}
.pricing-table .content a {
    padding: 10px 25px;
}
.icon-width i {
    color: #34495e;
}
.hs_cos_wrapper_type_rich_text ul {
    padding-left: 20px;
}
.hs_cos_wrapper_type_rich_text ul li {
    list-style: none;
}
.hs_cos_wrapper_type_rich_text ul li:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
    content: "\f058";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-right: 8px;
}
.tabber-tabs {
    border-bottom: 1px solid #ddd;
    list-style: none;
    margin: 0 0 -2px;
    padding: 0;
}
.tabber-tabs > li {
    float: left;
}
.tabber-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    line-height: 14px;
    line-height: 20px;
    margin-right: 2px;
    padding: 8px 12px;
    text-decoration: none;
}
.tabber-tabs > .active > a,
.tabber-tabs > .active > a:focus,
.tabber-tabs > .active > a:hover {
    background-color: #fff;
    border: 1px solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #ddd #ddd transparent;
    color: #555;
    cursor: default;
}
.tabber-content .tab-pane {
    background: #fff;
    border: 0;
    border-radius: 4px;
    padding: 0;
}
.tabber-content .tab-pane.active:first-child {
    border-top-left-radius: 0;
}
.body-container .tabber-content ul {
    margin: 0;
    padding: 0;
}
.tabber-content .block h3 {
    display: none;
}
.blog-tabber .hs-rss-item.hs-with-featured-image .hs-rss-featured-image {
    border-radius: 4px;
    float: left;
    width: 40%;
}
.blog-tabber .hs-rss-item.hs-with-featured-image .hs-rss-item-text {
    float: right;
    padding: 0 0 0 15px;
    width: 60%;
}
.blog-tabber .hs-rss-item:last-child {
    margin-bottom: 10px;
}
.hs-rss-item.hs-with-featured-image .hs-rss-item-image-wrapper {
    display: block;
    width: auto;
}
.custom-tabber-wrap .tabber-content .tab-pane {
    border-radius: 4px;
}
.hs_cos_flex-slider .caption {
    background: #34495e;
}
.accentColor1 {
    color: #34495e;
}
.accentColor2 {
    color: #ccc;
}
.accentColor3 {
    color: #ddd;
}
.padding10tb {
    padding: 10px 0;
}
.padding20tb {
    padding: 20px 0;
}
.padding40tb {
    padding: 40px 0;
}
.padding60tb {
    padding: 60px 0;
}
.padding80tb {
    padding: 80px 0;
}
.padding100tb {
    padding: 100px 0;
}
.footer-background,
.footer-background a,
.footer-container-wrapper .about-us a,
.footer-container-wrapper .contact-us a,
.footer-container-wrapper .more-links a,
.footer-copyright a {
    color: #fff;
}
.footer-background,
.footer-background a {
    background: #34495e;
}
.footer-container-wrapper .about-us a:hover,
.footer-container-wrapper .contact-us a:hover,
.footer-container-wrapper .more-links a:hover {
    color: #fff;
}
.footer-container-wrapper .more-links a {
    margin: 10px 0;
}
.footer-container-wrapper .more-links .footer-nav li:before {
    content: "\f0da";
    display: inline-block;
    float: none;
    font-family: FontAwesome;
    margin-right: 5px;
    margin-top: 1px;
}
.footer-container-wrapper .icon {
    margin-bottom: 5px;
}
.footer-container-wrapper .icon i {
    float: left;
    margin-top: 3px;
}
.footer-container-wrapper .contact-us {
    word-wrap: break-word;
}
.footer-container-wrapper .contact-info {
    margin-left: 25px;
}
.footer-container-wrapper .footer-copyright {
    background: #666;
    color: #ccc;
    font-size: 12px;
    padding: 5px 0 0;
    position: relative;
}
.footer-copyright .copyright-text {
    padding: 10px 0;
}
.footer-container-wrapper .social-icons .fa {
    font-size: 20px;
    padding-right: 5px;
}
.back-to-top a {
    color: #cdcdcd;
}
.footer-follow-me {
    position: absolute;
    right: 50px;
    text-align: right;
}
.footer-copyright .footer-follow-me a {
    background: transparent;
    font-family: FontAwesome;
    font-size: 25px;
    height: 32px;
    padding: 0 8px;
    width: 32px;
}
.footer-copyright .footer-follow-me a:hover {
    color: #34495e;
}
.footer-follow-me a span {
    display: none !important;
}
.footer-follow-me a.fm_facebook:before {
    content: "\f082";
}
.footer-follow-me a.fm_twitter:before {
    content: "\f099";
}
.footer-follow-me a.fm_linkedin:before {
    content: "\f0e1";
}
.footer-follow-me a.fm_googleplus:before {
    content: "\f0d5";
}
.footer-follow-me a.fm_xing:before {
    content: "\f168";
}
.footer-follow-me a.fm_pinterest:before {
    content: "\f0d2";
}
.footer-follow-me a.fm_youtube:before {
    content: "\f167";
}
.footer-follow-me a.fm_rss:before {
    content: "\f09e";
}
.row-fluid .mobile-button-header {
    display: none;
}
.custom-menu-primary .hs-menu-wrapper > ul {
    float: right;
    padding-top: 25px;
}
.custom-menu-primary .hs-menu-wrapper > ul > li {
    font-size: 14px;
    font-weight: 400;
    margin-right: 15px;
    text-transform: uppercase;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a {
    color: #34495e;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
}
.custom-menu-primary .hs-menu-wrapper ul li:last-child a,
.custom-menu-primary .hs-menu-wrapper > ul > li > a {
    align-items: center;
    display: flex;
    font-family:
        Source Sans Pro,
        sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    position: relative;
    text-transform: uppercase;
}
.custom-menu-primary .hs-menu-wrapper ul li:last-child a {
    background: #ff0000;
    border: 3px solid #ff0000;
    border-radius: 6px;
    box-sizing: border-box;
    color: #000;
    font-size: 18px;
    line-height: 23px;
    padding: 11px 30px;
    text-align: center;
    top: -5px;
}
.custom-menu-primary .hs-menu-wrapper ul li:last-child a:hover {
    background: #d1d3d4;
    border: 3px solid #d1d3d4;
    color: #000;
}
.custom-menu-primary .hs-menu-wrapper ul li:last-child a:focus {
    background: #a7a9ac;
    border: 3px solid #a7a9ac;
    color: #000;
}
.custom-menu-primary .hs-menu-wrapper ul li:last-child {
    margin-right: 0;
}
.custom-menu-primary .hs-menu-wrapper > ul ul {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    left: 15px !important;
    min-width: 150px;
    padding: 10px 0;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li:hover {
    background: #34495e;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > ul:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    content: "\f0d8";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    left: 0;
    line-height: 1;
    padding-left: 10px;
    position: absolute;
    text-shadow: 0 -1px 0 #ccc;
    top: -12px;
    width: 100%;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a {
    padding: 3px 10px;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a:hover {
    color: #fff;
}
.custom-menu-primary .hs-menu-wrapper > ul li a,
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
    max-width: none !important;
    overflow: visible !important;
    width: auto !important;
}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children > a:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0d7";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-left: 7px;
}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children:after {
    border-top-color: #34495e;
}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li a:hover {
    color: #ff0000;
}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li a:focus {
    color: #a7a9ac;
}
.custom-menu-primary .hs-menu-wrapper ul li:last-child {
    margin-left: 10px;
}
@media (max-width: 1600px) {
    .header-container-wrapper .container-fluid .row-fluid .page-center {
        max-width: 1460px;
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media (max-width: 1400px) {
    .header-container-wrapper .container-fluid .row-fluid .page-center {
        padding-left: 50px;
        padding-right: 50px;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li > a {
        padding: 10px 20px;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li {
        margin-right: 0;
    }
    .custom-menu-primary .hs-menu-wrapper ul li:last-child {
        margin-left: 20px;
    }
}
@media screen and (min-width: 1025px) {
    .custom-menu-primary .hs-menu-wrapper {
        background: transparent !important;
        display: block !important;
    }
}
@media (max-width: 768px) {
    .our-work-three-col .row-fluid .span4:last-child {
        display: block;
    }
    .header-container-wrapper .container-fluid .row-fluid [class*="span"] {
        display: block;
        float: none !important;
        margin-left: 0 !important;
        width: auto !important;
    }
}
.child-trigger,
.mobile-trigger {
    display: none !important;
}
@media (max-width: 1100px) {
    .custom-menu-primary .hs-menu-wrapper > ul > li {
        margin-right: 0;
    }
}
@media screen and (max-width: 1024px) {
    .footer-wrapper {
        padding: 51px 25px;
    }
    .custom-menu-primary .hs-menu-wrapper ul li:last-child {
        margin-left: 0;
    }
    .footer-wrapper .row-fluid .span5,
    .footer-wrapper .row-fluid .span7 {
        margin-left: 0;
        width: 100%;
    }
    .footer-wrapper .footer-menu-form {
        max-width: 100%;
    }
    .container-fluid .row-fluid .home-banner .page-center.page-center50 {
        padding: 0;
    }
    body .footer-subscribe-form input[type="email"] {
        max-width: 79%;
        max-width: 100%;
        width: calc(100% - 220px);
    }
    .footer-logo {
        margin-bottom: 38px;
    }
    .footer-col-2 p,
    .footer-subscribe-form h3 {
        font-size: 22px;
        line-height: 27.7px;
    }
    .container-fluid .row-fluid .page-center.page-center50 {
        padding: 0 10px;
    }
}
@media (max-width: 767px) {
    .footer-wrapper .hs-menu-wrapper.hs-menu-flow-horizontal > ul {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-wrapper .footer-menu-main ul li {
        margin-right: 0;
        max-width: 33%;
    }
    .footer-col-2 img {
        margin-bottom: 20px;
    }
    body .footer-subscribe-form input[type="email"] {
        max-width: 100%;
        width: 100%;
    }
    .footer-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    body .footer-subscribe-form .actions {
        position: relative;
    }
    body .footer-subscribe-form input[type="submit"],
    body .footer-subscribe-form input[type="submit"]:hover {
        display: block;
        width: 100%;
    }
}
@media (max-width: 468px) {
    .footer-wrapper .footer-menu-main ul li {
        margin-right: 0;
        max-width: 50%;
    }
}
@media (max-width: 1024px) {
    .custom-menu-primary,
    .custom-menu-primary .hs-menu-wrapper > ul,
    .custom-menu-primary .hs-menu-wrapper > ul li,
    .custom-menu-primary .hs-menu-wrapper > ul li a {
        background-color: transparent;
        background-image: none;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        bottom: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: #fff;
        display: block;
        float: none;
        font-weight: 400;
        height: auto;
        left: auto;
        line-height: 1;
        margin: 0;
        max-width: none;
        padding: 0;
        position: static;
        right: auto;
        text-align: left;
        text-decoration: none;
        text-indent: 0;
        top: auto;
        width: 100%;
    }
    .mobile-trigger {
        cursor: pointer;
        display: inline-block !important;
        font-size: 16px;
        font-weight: 400;
        height: auto;
        margin-top: -16px;
        padding: 6px 0 6px 12px;
        position: absolute;
        right: 35px;
        text-align: center;
        text-align: left;
        text-transform: uppercase;
        top: 75px;
        width: auto;
        z-index: 99999999999;
    }
    .mobile-trigger:hover {
        text-decoration: none;
    }
    .menu-close-icon,
    .mobile-open .menu-open-icon {
        display: none;
    }
    .mobile-open .menu-close-icon {
        display: block;
    }
    .mobile-open .header-container-wrapper .row-fluid .custom-menu-primary {
        background: #282829;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100% !important;
        z-index: 99999;
    }
    .mobile-trigger i {
        display: inline;
        position: relative;
        top: -5px;
    }
    .mobile-trigger i:after,
    .mobile-trigger i:before {
        content: "";
        position: absolute;
    }
    .mobile-trigger i,
    .mobile-trigger i:after,
    .mobile-trigger i:before {
        background-color: #fff;
        display: inline-block;
        height: 2px;
        width: 25px;
    }
    .mobile-trigger i:before {
        margin-top: -6px;
    }
    .mobile-trigger i:after {
        margin-top: 6px;
    }
    .child-trigger {
        border-left: 1px dotted hsla(0, 0%, 100%, 0.2);
        cursor: pointer;
        display: block !important;
        height: 45px !important;
        min-width: 55px !important;
        padding: 0 !important;
        position: absolute;
        right: 0;
        top: 0;
        width: 55px !important;
    }
    .child-trigger:hover {
        text-decoration: none;
    }
    .child-trigger i {
        margin: 0 auto !important;
        position: relative;
        top: 50%;
    }
    .child-trigger i:after {
        content: "";
        position: absolute;
    }
    .child-trigger i,
    .child-trigger i:after {
        background-color: #fff;
        display: block;
        height: 1px;
        width: 10px;
    }
    .child-trigger i:after {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .child-trigger.child-open i:after {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    .child-trigger.child-open i {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .custom-menu-primary .hs-menu-wrapper,
    .custom-menu-primary.js-enabled .hs-menu-children-wrapper,
    .custom-menu-primary.js-enabled .hs-menu-wrapper {
        display: none;
    }
    .custom-menu-primary ul.hs-menu-children-wrapper {
        display: none;
        opacity: 1 !important;
        position: static !important;
        visibility: visible !important;
    }
    .custom-menu-primary.js-enabled .hs-menu-wrapper {
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
    }
    .custom-menu-primary .hs-menu-wrapper ul li:last-child a {
        color: #000 !important;
        display: inline-block;
        top: 10px;
    }
    .custom-menu-primary .hs-menu-wrapper ul li:last-child {
        text-align: center;
    }
    .custom-menu-primary .hs-menu-wrapper {
        padding: 0;
        width: 100%;
        z-index: 8888;
    }
    .custom-menu-primary .hs-menu-wrapper > ul {
        margin-top: 150px;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li {
        position: relative;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li a {
        font-size: 25px;
        font-weight: 700;
        line-height: 45px;
        overflow: visible;
        text-align: center;
    }
    .custom-menu-primary .hs-menu-wrapper > ul li a {
        color: #fff !important;
        padding: 15px 10px;
    }
    .custom-menu-primary .hs-menu-wrapper > ul li a:hover {
        color: #fff !important;
    }
    .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children > a:after {
        display: none;
    }
    .custom-menu-primary .hs-menu-wrapper > ul ul {
        background: transparent;
        border: 0;
        padding: 0;
    }
    .custom-menu-primary .hs-menu-wrapper > ul ul li {
        background-color: hsla(0, 0%, 100%, 0.08);
    }
    .custom-menu-primary .hs-menu-wrapper > ul ul li a {
        font-size: 16px;
        text-indent: 10px;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li > ul:before,
    .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children:after {
        display: none;
    }
    .custom-menu-primary .hs-menu-wrapper > ul ul ul li a {
        text-indent: 30px;
    }
    .custom-menu-primary .hs-menu-wrapper > ul ul ul ul li a {
        text-indent: 50px;
    }
}
.blog-sidebar ul,
.sidebar ul {
    list-style: none;
    padding-left: 10px;
}
body.password-template form input {
    margin-bottom: 10px;
}
#well .default {
    background: #34495e;
    border-color: #02172c;
}
#well .primary {
    background: #74bdfc;
    border: 1px solid #428bca;
}
#well .success {
    background: #8eea8e;
    border: 1px solid #5cb85c;
}
#well .danger {
    background: #db7674;
    border: 1px solid #a94442;
}
#well .info {
    background: #8df2ff;
    border: 1px solid #5bc0de;
}
#well .plain {
    background: #f5f5f5;
    border: 1px solid #ddd;
    color: #666;
}
#well .close {
    color: #666;
}
.post-header h2 {
    margin-bottom: 0;
}
.post-header p {
    font-size: 13px;
}
#hubspot-author_data {
    float: left;
}
p.custom_listing_comments {
    float: right;
}
.hs-blog-social-share {
    float: left;
}
.blog-listing-wrapper .post-listing .post-item {
    padding-bottom: 60px;
}
.hs-featured-image-wrapper .hs-featured-image-link {
    display: block;
}
.hs-featured-image-wrapper .hs-featured-image-link img.hs-featured-image {
    border-width: 0;
    display: inline-block !important;
    float: none !important;
    margin: 10px 0;
    max-height: 300px;
    max-width: 100%;
}
a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}
.social-sharing-wrapper {
    clear: both;
}
.hs-blog-social-share {
    height: auto;
    padding: 10px 0 0;
}
#comments-listing {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    margin-top: 30px;
}
.comment {
    border-top: 1px solid #ccc;
    margin: 10px 0;
    padding: 15px 0;
}
.comment-date {
    font-size: 13px;
    text-align: right;
}
.comment-from {
    font-weight: 700;
}
.comment-body {
    padding: 10px 0;
}
.blog-pagination {
    text-align: center;
}
.blog-pagination .previous-posts-link {
    float: left;
}
.blog-pagination .next-posts-link {
    float: right;
}
.hs-author-social-label {
    display: inline-block;
    font-weight: 700;
    margin-right: 8px;
    vertical-align: middle;
}
.hs-author-social-links a.hs-author-social-link {
    background: none !important;
    display: inline-block;
    font-size: 30px;
    padding-right: 5px !important;
    vertical-align: middle;
}
.blog-sidebar-filter-list li {
    padding: 2px 0;
}
.blog .blog-sidebar .widget-span {
    padding: 0 0 40px;
}
body .hs-form-field {
    margin-bottom: 15px;
}
body label {
    font-weight: 700;
    margin-bottom: 5px;
}
body input[type="color"],
body input[type="date"],
body input[type="datetime-local"],
body input[type="datetime"],
body input[type="email"],
body input[type="file"],
body input[type="month"],
body input[type="number"],
body input[type="password"],
body input[type="search"],
body input[type="tel"],
body input[type="text"],
body input[type="time"],
body input[type="url"],
body input[type="week"],
body select,
body textarea {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555;
    display: block;
    font-family: Lato, arial, sans-serif;
    font-size: 16px;
    height: 34px;
    line-height: 1.42857143;
    padding: 6px 12px;
    -webkit-transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    -moz-transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    -o-transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    -ms-transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    width: 100%;
}
body input[type="color"]:focus,
body input[type="date"]:focus,
body input[type="datetime-local"]:focus,
body input[type="datetime"]:focus,
body input[type="email"]:focus,
body input[type="file"]:focus,
body input[type="month"]:focus,
body input[type="number"]:focus,
body input[type="password"]:focus,
body input[type="search"]:focus,
body input[type="tel"]:focus,
body input[type="text"]:focus,
body input[type="time"]:focus,
body input[type="url"]:focus,
body input[type="week"]:focus,
body select:focus,
body textarea:focus {
    border-color: #34495e;
    -webkit-box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(0, 0, 0, 0.6);
    -o-box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(0, 0, 0, 0.6);
    -ms-box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(0, 0, 0, 0.6);
    box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(0, 0, 0, 0.6);
    outline: 0;
}
body textarea {
    min-height: 200px;
}
body form.hs-form .hs-form-field ul.inputs-list {
    list-style: none;
    padding: 0;
}
#comment-form input[type="text"] {
    display: inline-block;
}
#hs_form_target_blog_subscription input[type="email"],
.widget-type-blog_subscribe input[type="email"] {
    float: left;
    height: 36px;
    margin-bottom: 10px;
    width: 100%;
}
.widget-type-google_search label {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 20px;
    text-rendering: optimizelegibility;
}
.widget-type-google_search input[type="text"] {
    float: left;
    height: 36px;
    margin-top: 0;
    width: 60%;
}
.widget-type-google_search .hs-button.primary {
    float: left;
    margin-left: 2px;
}
body form.hs-form fieldset {
    max-width: none;
}
body form.hs-form fieldset .hs-form-field {
    padding: 0 10px 0 0;
}
body form.hs-form fieldset[class*="form-columns"] .input {
    margin-right: 0;
}
body form.hs-form fieldset[class*="form-columns"] .hs-input {
    width: 100%;
}
body form.hs-form fieldset[class*="form-columns"] .hs-input[type="checkbox"] {
    width: auto;
}
body form.hs-form fieldset.form-columns-3 .hs-form-field {
    width: 33.33%;
}
@media (max-width: 400px) {
    body form.hs-form fieldset .hs-form-field {
        padding: 0;
    }
    body form.hs-form .form-columns-2 .hs-form-field .hs-input,
    body form.hs-form .form-columns-3 .hs-form-field .hs-input,
    body form.hs-form fieldset.form-columns-3 .hs-form-field {
        width: 100%;
    }
    body form.hs-form .form-columns-3 .hs-form-field .hs-input[type="checkbox"] {
        width: auto;
    }
}
.hsformerror {
    background-image: none !important;
    background: #34495e !important;
    border: 0 !important;
    border-color: #34495e !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #fff !important;
    font-size: 12px !important;
    -webkit-transform: none !important;
    transform: none !important;
    z-index: 99999 !important;
}
.hsformerror .close-form-error {
    color: #34495e;
}
.hsformerror em {
    border-color: #34495e transparent transparent !important;
}
body .hs-button.primary,
body input[type="button"],
body input[type="submit"] {
        background: #fff;
    background-image: none;
    border: 2px solid #34495e;
    border-radius: 4px;
    color: #34495e;
    cursor: pointer;
    display: inline-block;
    font-family:
        Vastago Grotesk,
        sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
body .hs-button.primary:hover,
body input[type="button"]:hover,
body input[type="submit"]:hover {
    background: #34495e;
    border: 2px solid #34495e;
    color: #fff;
}
.comment-reply-to {
    background: none !important;
    color: #666 !important;
    padding-left: 0 !important;
}
.comment-reply-to:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
    content: "\f112";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-right: 7px;
    vertical-align: top;
}
.cta_border_button {
   
    background: #fff;
    background-image: none;
    border: 2px solid #34495e;
    border-radius: 4px;
    color: #34495e;
    cursor: pointer;
    display: inline-block;
    font-family:
        Vastago Grotesk,
        sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.cta_border_button:hover {
    background: #34495e;
    border: 2px solid #34495e;
    color: #34495e;
    color: #fff;
}
.cta_solid_button {
    -webkit-appearance: none;
    background-image: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family:
        Vastago Grotesk,
        sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.cta_solid_button,
.cta_solid_button:hover {
    border: 2px solid #34495e;
    text-transform: uppercase;
}
.cta_solid_button:hover {
    background: #fff;
    background: #34495e;
}
@media (max-width: 1230px) {
    .container-fluid .row-fluid .page-center {
        padding: 10px;
    }
    .container-fluid .footer-copyright .row-fluid .page-center {
        padding: 0 10px;
    }
}
@media (max-width: 1024px) {
    .header-container-wrapper .container-fluid .row-fluid .page-center {
        padding-left: 45px;
        padding-left: 35px;
        padding-right: 45px;
        padding-right: 35px;
    }
    .footer-logo img,
    .footer-logo-2 img {
        max-width: 113px;
    }
    .row-fluid .mobile-button-header {
        display: inline-block;
        text-align: right;
    }
    .mobile-button-header .hs-button {
        background: #ff0000;
        border: 3px solid #ff0000;
        border-radius: 6px;
        box-sizing: border-box;
        color: #000;
        display: inline-block;
        font-family: Source Sans Pro;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.02em;
        line-height: 23px;
        padding: 8px 25px;
        position: relative;
        right: 72px;
        text-transform: uppercase;
        top: 14px;
    }
}
@media (max-width: 991px) {
    .footer-wrapper-lp {
        padding: 30px 20px;
        text-align: center;
    }
    .footer-menu-lp ul {
        margin-top: 20px !important;
    }
}
@media (max-width: 768px) {
    .header-container-wrapper {
        padding: 18px 25px;
    }
    .mobile-trigger {
        padding-right: 0;
        right: 25px;
        top: 45px;
    }
    .header-container {
        padding: 0;
    }
    .row-fluid .header-logo {
        display: none !important;
    }
    .header-container-wrapper .container-fluid .row-fluid .page-center {
        padding: 0;
    }
    .header-container .hs_cos_wrapper_type_logo a img {
        margin: 5px 0;
        max-width: 200px;
    }
    .row-fluid [class*="span"].header-cta {
        display: none !important;
    }
    .footer-copyright-text {
        margin-top: 60px;
    }
    .body-container-wrapper {
        padding-top: 0;
    }
    .padding40tb {
        padding: 25px 0;
    }
    .blog-sidebar,
    .main-content,
    .sidebar.right {
        margin: 25px 0;
    }
    .footer-wrapper {
        background-position: -100% bottom;
    }
    .three-column .team-member-social a {
        display: inline-block;
    }
    .three-column .team-member-social i {
        padding-right: 5px;
    }
    .three-column .team-member-social a:last-child i {
        padding-right: 0;
    }
    .team-member-name,
    .team-member-title {
        text-align: center;
    }
    .footer-container-wrapper .more-links a i {
        display: inline-block;
        width: auto;
    }
    .footer-container .about-us,
    .footer-container .more-links {
        margin-bottom: 25px;
    }
    .footer-copyright .copyright-text {
        text-align: center;
    }
    .footer-follow-me {
        position: relative;
        right: auto;
        text-align: center;
    }
    #banner-background-image,
    #offer-background-image h1,
    .service-group h4,
    .service-group-icon {
        text-align: center !important;
    }
    .homepage .subscribe-form {
        padding-top: 10px;
        position: relative;
    }
    .homepage .subscribe-form form {
        float: none;
    }
    .homepage .subscribe-form .hs_email {
        margin-bottom: 10px;
        width: 100%;
    }
    #banner-background-image {
        min-height: 650px;
    }
    #banner-background-image h1 {
        font-size: 32px;
        margin-bottom: 15px;
        margin-top: 55px;
    }
    #banner-background-image h3 {
        display: none;
    }
    .homepage .subscribe-form {
        width: 100%;
    }
    .social-tagline {
        margin-bottom: 15px;
        text-align: center;
    }
    .homepage .subscribe-form {
        padding-bottom: 150px;
    }
    .homepage .subscribe-form .hs_email .hs-error-msgs {
        display: inline-block !important;
        margin-top: 0;
        position: relative;
    }
    .homepage .subscribe-form .hs_submit {
        display: block;
        position: relative;
        width: 100%;
    }
    #comment-form {
        margin-bottom: 25px;
    }
    .d-flex {
        display: block;
    }
    .footer-copyright-text {
        margin-top: 5px;
        text-align: left;
    }
    .global-footer .footer-nav ul li {
        margin-bottom: 13px;
        margin-right: 30px;
        text-align: left;
    }
    .footer-col-2 p,
    .footer-subscribe-form h3 {
        font-size: 20px;
    }
    .footer-col-2 p {
        font-size: 22px;
    }
    .footer-copyright-text span,
    .footer-menu-main ul li a,
    .footer-subscribe-form .legal-consent-container .hs-form-booleancheckbox-display p,
    body .footer-subscribe-form input[type="submit"],
    body .footer-subscribe-form input[type="submit"]:hover {
        font-size: 16px;
    }
    .mobile-button-header .hs-button {
        font-size: 18px;
        top: -56px;
    }
    .footer-copyright-text span {
        font-size: 18px;
    }
}
@media (max-width: 640px) {
    .header-container-wrapper {
        padding: 18px 25px;
    }
    .mobile-trigger {
        padding-right: 0;
        right: 25px;
        top: 45px;
    }
    .footer-wrapper {
        background-position: -20% bottom;
    }
    .mobile-button-header .hs-button {
        font-size: 16px;
    }
    .footer-col-2 p {
        font-size: 20px;
        line-height: 25.1px;
    }
    .footer-copyright-text span,
    .legal-consent-container .hs-error-msgs label,
    .submitted-message,
    body .hs-fieldtype-text label.hs-error-msg,
    body .hs-fieldtype-textarea label.hs-error-msg,
    body label.hs-error-msgs label {
        font-size: 16px;
        line-height: 22.8px;
    }
}
@media (max-width: 380px) {
    .mobile-button-header .hs-button {
        padding: 8px 15px;
        right: 45px;
    }
}
html {
    scroll-behavior: smooth;
}
